nav {
  display: flex;
  flex: 1;
  height: 55px;
  background: #FFF;
  color: rgba(0,0,0,.3);
  line-height: 55px;
  justify-content: space-between;

  .nav__logo {
    background: url('/assets/img/keepo-logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100px auto;
    height: 55px;
    flex: 0 0 20%;
  }

  .nav__toggler {
    font-size: 1.25rem;
    flex: 0 0 20%;
  }

  .nav__logo, .nav__toggler {
    text-align: center;
  }
  
  .nav__profile {
    margin-left: auto;
    flex: 0 0 20%;
    align-self: flex-end;
    align-content: flex-end;
  }
}
